body {
    width: 95%;
    background-color: rgb(34, 46, 4);
    margin: 0 auto;
    color: lightgrey;
}

.header-items {
    position: relative;
    text-align: center;
}

/* Fade in for header unit using keyframes animation */
#header-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 160%;
    animation: fadeIn ease 7s infinite;
}

@keyframes fadeIn {
    50% {
      opacity: 0;
    }
  }

  /* Fade out for logo overlayed with header using keyframes animation */
#icon {
    width: 100%;
    text-align: center;
    animation: fadeOut ease 7s infinite;
    opacity: 0;
}

@keyframes fadeOut {
    50% {
      opacity: 1;
    }
}

.navlist {
    position: relative;
    list-style-type: none;
    text-align:center;
}

.navlist li{
    display: inline-block;
    border: 2px dashed grey;
    border-radius: 2px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    background-color:rgb(5, 51, 39) ;
}

.navlist li a {
  color: inherit;
}

.about-me{
    margin: 0 auto; 
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    text-align: center;
}

.item{
    margin: 0 auto;
    text-align: center;
    width: 350px;
}

.flex-container{
    margin: 0 auto; 
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    text-align: center;
}
.container {
    margin: 0 auto;
    text-align: center;
    width: 350px;
}

h2{ 
    text-align: center;
    font-size: 140%;
}

svg,
img {
  max-width: 250px;
  max-height:150px;
  vertical-align: middle;
  object-fit: contain;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% - 20px);
    overflow: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
    margin: 0 auto;
    height: 350px;
  }
  
  .slide {
    scroll-snap-align: center;
    background-color: #f0f4f3;
    height: 250px;
  }
  
  .slide:focus {
    outline: 0;
  }
  
  .slide:focus-visible {
    outline-offset: -1px;
    outline: 1px solid var(--secondary-color);
  }
  
  .slide:last-child {
    position: relative;
  }
  
  .slide:last-child::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    top: 0;
  }
  
  .slide img {
    mix-blend-mode: darken;
  }

.footer{
    margin-top: 50px;
    width:100%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

  /* Gallery bit */
  div.photoset {
    margin: 0 auto;
    margin-top: 15px;
    padding: 2px;
    background-color: #ffffff;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .photo {
       position: relative;
       flex-grow: 1; //They will fill space but actually want to take up the smallest space possible doing it, so you just need to stop it getting too small with min-width (otherwise they all bunch on the same line)
       min-width: calc(100% / 3); //This is the maximum number (3) in a row bit
       background-size: cover;
       background-position: center;
       
       @media screen and (max-width: 700px) {
          min-width: calc(100% / 2); //As simple as this for responsiveness without a delay you would get with JavaScript
       }
       @media screen and (max-width: 460px) {
          min-width: 100%;
       }
       &:after {
          //Aspect Ratio
          padding-top: 83.33333%; //For 5:6 height to width ratio
          display: block;
          content: "";
       }
       &:before {
          //Gaps
          z-index: 2;
          position: absolute;
          content: "";
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          box-shadow: inset 0 0 0 2px #ffffff; //Cheaty way to make it look like there are gaps 😜
       }
       &:nth-child(1) {
          //Make first image big
          width: 100%;
       }
    }
 
    &.square .photo:after {
       padding-top: 100%;
    }
    &.portrait .photo:after {
       padding-top: 120%;
    }
 }



  
