:root {
    --sidePadding: 180px;
    --halfPadding: 90px; /* this is to pad out elements by half of the sidebar width */
    --bodyColour:  rgb(208, 219, 230);
}

body {
    overflow-x: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.outer {
    width: 90%;
    margin: 0 auto;
    background-color: var(--bodyColour);
}

.inner {
    overflow: hidden;
}

header {
    background-color: cadetblue;
    height: 150px;
    width: 100%;
}

/* This is for smaller screens using a different style sheet */
.header-nav{
    display:none;
}

/* This is for larger screens (>600px). not shown for smaller screens */
.sidebar-nav {
    width: var(--sidePadding);
    background-color: var(--bodyColour);
    float: left;
    height: 100%;
    position: fixed;   
    margin-right: 20px;
    text-align: center;
}

/* Fade in for header unit using keyframes animation */
h1 {
    position: absolute;
    margin-top: 55px;
    width:100%;
    font-size: 200%;
    text-align: center;
    z-index: 2;
    animation: fadeIn ease 7s infinite;
}

@keyframes fadeIn {
    50% {
      opacity: 0;
    }
  }

  /* Fade out for logo overlayed with header using keyframes animation */
.spaniel-icon {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1; 
    animation: fadeOut ease 7s infinite;
    opacity: 0;
}

@keyframes fadeOut {
    50% {
      opacity: 1;
    }
}

/* Float the content container up against the sidebar if present (and against left margin if not) */
.container {
    margin-left: var(--sidePadding); 
    float:left;
}

.sidebar-nav a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Flex container set as row-direction to contain the work elements */
.flex-container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid var(--bodyColour); 
    align-items: center;
}

/* Formatting for all elements in the flex container */
.flex-container > * {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;;
    background-color: rgb(188, 199, 209);
    text-align: center;
    box-shadow: -5px 5px 3px #888888;
    min-height: 600px;
}

.about-me {
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;;
    text-align: center;
    box-shadow: -5px 5px 3px #888888;
    background-color: rgb(188, 199, 209);
}   

